.element-fade-in {
    &.show {
        span {
            display: inline-flex;
            overflow: hidden;
            animation: 0s swift-up cubic-bezier(0.43, 0.23, 0.11, 0.88) forwards;
        }

        span.i {
            font-style: normal;
            position: relative;
            top: 1.2em;
            animation: .6s swift-up cubic-bezier(0.43, 0.23, 0.11, 0.88) forwards;

        }
    }
}

@keyframes swift-up {
    to {
        top: 0;
    }
}

.element-fade-in {
    .block-fade-in {
        opacity: 0;
        transition-duration: 0s;
        transform: translateY(20px);

        @for $i from 2 through 100 {
            &:nth-of-type(#{$i}) {
                transition-delay: 0s * $i;
            }
        }
    }

    .delayed-animation {
        opacity: 0;
        transition-duration: 0s;
        transform: translateY(15px);

        @media (min-width: 768px) {
            transition-delay: .5s;
        }
    }

    &.show {
        .block-fade-in {
            opacity: 1;
            transition-duration: .7s;

            transform: translateY(0);

            @for $i from 2 through 100 {
                &:nth-of-type(#{$i}) {
                    transition-delay: .1s * $i;
                }
            }
        }

        .delayed-animation {
            opacity: 1;
            transition-duration: .7s;

            transform: translateY(0);

            @media (min-width: 768px) {
                transition-delay: .5s;
            }

        }
    }
}



.contact-fade-in {
    position: relative;
    transform: scale(0.8);
    will-change: transform;
}